In [1]:
import pandas as pd

In [3]:
df = pd.read_csv("sample.csv")
df

     Unnamed: 0                                         reviewText  overall
0             0  Just another flavor of Kit Kat but the taste i...      0.0
1             1  I bought this on impulse and it comes from Jap...      0.0
2             2  Really good. Great gift for any fan of green t...      0.0
3             3  I had never had it before, was curious to see ...      1.0
4             4  I've been looking forward to trying these afte...      0.0
..          ...                                                ...      ...
994         994  I will never substitute this Sweet Leaf brand ...      1.0
995         995  I've made my own extract several times but i'm...      1.0
996         996  I switched from Splenda to this stuff about a ...      1.0
997         997  Love this stevia.It is the only brand I use.Wi...      1.0
998         998  I'm telling everybody about SweetLeaf brand st...      1.0

[999 rows x 3 columns]

In [6]:
df.drop("Unnamed: 0",   axis='columns', inplace=True)
df

                                            reviewText  overall
0    Just another flavor of Kit Kat but the taste i...      0.0
1    I bought this on impulse and it comes from Jap...      0.0
2    Really good. Great gift for any fan of green t...      0.0
3    I had never had it before, was curious to see ...      1.0
4    I've been looking forward to trying these afte...      0.0
..                                                 ...      ...
994  I will never substitute this Sweet Leaf brand ...      1.0
995  I've made my own extract several times but i'm...      1.0
996  I switched from Splenda to this stuff about a ...      1.0
997  Love this stevia.It is the only brand I use.Wi...      1.0
998  I'm telling everybody about SweetLeaf brand st...      1.0

[999 rows x 2 columns]

In [9]:
## Drop Nan values:
df = df.dropna()

In [12]:
#Renaming columns:
df.columns = ["reviewText", "label"]
df.head()

                                          reviewText  label
0  Just another flavor of Kit Kat but the taste i...    0.0
1  I bought this on impulse and it comes from Jap...    0.0
2  Really good. Great gift for any fan of green t...    0.0
3  I had never had it before, was curious to see ...    1.0
4  I've been looking forward to trying these afte...    0.0

In [13]:
##Get the independent features
X = df.drop("label", axis=1)

In [14]:
## Get the Dependent features
y=df["label"]

In [17]:
y.value_counts()

1.0    700
0.0    299
Name: label, dtype: int64

In [15]:
X.shape

(999, 1)

In [16]:
y.shape

(999,)

In [18]:
import tensorflow as tf

In [19]:
tf.__version__

'2.1.0'

In [20]:
from tensorflow.keras.layers import Embedding
from tensorflow.keras.preprocessing.sequence import pad_sequences
from tensorflow.keras.models import Sequential
from tensorflow.keras.preprocessing.text import one_hot
from tensorflow.keras.layers import LSTM
from tensorflow.keras.layers import Dense

In [21]:
### Vocabulary size
voc_size=5000