In [1]:
import pandas as pd
import csv

In [2]:
df = pd.read_csv('training.1600000.processed.noemoticon.csv', encoding = 'latin',header=None)

In [3]:
df.head()

,0,1,2,3,4,5
0,0,1467810369,Mon Apr 06 22:19:45 PDT 2009,NO_QUERY,_TheSpecialOne_,"@switchfoot http://twitpic.com/2y1zl - Awww, t..."
1,0,1467810672,Mon Apr 06 22:19:49 PDT 2009,NO_QUERY,scotthamilton,is upset that he can't update his Facebook by ...
2,0,1467810917,Mon Apr 06 22:19:53 PDT 2009,NO_QUERY,mattycus,@Kenichan I dived many times for the ball. Man...
3,0,1467811184,Mon Apr 06 22:19:57 PDT 2009,NO_QUERY,ElleCTF,my whole body feels itchy and like its on fire
4,0,1467811193,Mon Apr 06 22:19:57 PDT 2009,NO_QUERY,Karoli,"@nationwideclass no, it's not behaving at all...."

In [4]:
df.columns = ['sentiment', 'id', 'date', 'query', 'user_id', 'text']
df.head()

,sentiment,id,date,query,user_id,text
0,0,1467810369,Mon Apr 06 22:19:45 PDT 2009,NO_QUERY,_TheSpecialOne_,"@switchfoot http://twitpic.com/2y1zl - Awww, t..."
1,0,1467810672,Mon Apr 06 22:19:49 PDT 2009,NO_QUERY,scotthamilton,is upset that he can't update his Facebook by ...
2,0,1467810917,Mon Apr 06 22:19:53 PDT 2009,NO_QUERY,mattycus,@Kenichan I dived many times for the ball. Man...
3,0,1467811184,Mon Apr 06 22:19:57 PDT 2009,NO_QUERY,ElleCTF,my whole body feels itchy and like its on fire
4,0,1467811193,Mon Apr 06 22:19:57 PDT 2009,NO_QUERY,Karoli,"@nationwideclass no, it's not behaving at all...."

In [6]:
## Drop Nan values:
df = df.dropna()

In [9]:
##Drop duplicates.
df = df.drop_duplicates()

In [11]:
#Check values in Sentiment column
df["sentiment"].value_counts()

4    800000
0    800000
Name: sentiment, dtype: int64

In [19]:
#Building a random sample of tweets
df_sample = df.sample(n=50000, random_state=42)
df_sample

,sentiment,id,date,query,user_id,text
541200,0,2200003196,Tue Jun 16 18:18:12 PDT 2009,NO_QUERY,LaLaLindsey0609,@chrishasboobs AHHH I HOPE YOUR OK!!!
750,0,1467998485,Mon Apr 06 23:11:14 PDT 2009,NO_QUERY,sexygrneyes,"@misstoriblack cool , i have no tweet apps fo..."
766711,0,2300048954,Tue Jun 23 13:40:11 PDT 2009,NO_QUERY,sammydearr,@TiannaChaos i know just family drama. its la...
285055,0,1993474027,Mon Jun 01 10:26:07 PDT 2009,NO_QUERY,Lamb_Leanne,School email won't open and I have geography ...
705995,0,2256550904,Sat Jun 20 12:56:51 PDT 2009,NO_QUERY,yogicerdito,upper airways problem
...,...,...,...,...,...,...
199266,0,1971396270,Sat May 30 07:00:39 PDT 2009,NO_QUERY,EllenAshleee,On the way home. Tired. I don't wanna babysit
210814,0,1974331559,Sat May 30 12:54:50 PDT 2009,NO_QUERY,leftynerak,Well that was ten sneezes in a row. My allergi...
180674,0,1966611316,Fri May 29 18:04:55 PDT 2009,NO_QUERY,AnnHeart,can't go out tonight car is acting funny wat...
364859,0,2048348064,Fri Jun 05 15:03:22 PDT 2009,NO_QUERY,gracegorms,Headacheeeee
172400,0,1963565183,Fri May 29 12:55:00 PDT 2009,NO_QUERY,deiapoynter,@tommcfly you and the guys should come down he...

In [20]:
df_sample["sentiment"].value_counts()

4    25014
0    24986
Name: sentiment, dtype: int64

In [21]:
df_sample.loc[df_sample["sentiment"] == 4, "sentiment"] = 1

In [22]:
df_sample.reset_index(inplace=True)

In [23]:
df_sample.head()

,index,sentiment,id,date,query,user_id,text
0,541200,0,2200003196,Tue Jun 16 18:18:12 PDT 2009,NO_QUERY,LaLaLindsey0609,@chrishasboobs AHHH I HOPE YOUR OK!!!
1,750,0,1467998485,Mon Apr 06 23:11:14 PDT 2009,NO_QUERY,sexygrneyes,"@misstoriblack cool , i have no tweet apps fo..."
2,766711,0,2300048954,Tue Jun 23 13:40:11 PDT 2009,NO_QUERY,sammydearr,@TiannaChaos i know just family drama. its la...
3,285055,0,1993474027,Mon Jun 01 10:26:07 PDT 2009,NO_QUERY,Lamb_Leanne,School email won't open and I have geography ...
4,705995,0,2256550904,Sat Jun 20 12:56:51 PDT 2009,NO_QUERY,yogicerdito,upper airways problem

In [24]:
for i in range (0,20):
    print(df_sample["text"][i])

@chrishasboobs AHHH I HOPE YOUR OK!!!
@misstoriblack cool , i have no tweet apps  for my razr 2
@TiannaChaos i know  just family drama. its lame.hey next time u hang out with kim n u guys like have a sleepover or whatever, ill call u
School email won't open  and I have geography stuff on there to revise! *Stupid School* :'(
upper airways problem
Going to miss Pastor's sermon on Faith...
on lunch....dj should come eat with me
@piginthepoke oh why are you feeling like that?
gahh noo!peyton needs to live!this is horrible
@mrstessyman thank you glad you like it! There is a product review bit on the site  Enjoy knitting it!
@PerezHilton Zach makes me pee sitting down! And I'm a grown gay man!
to sum up my day in one word ......... kackered!
@k9wkj Great minds think alike
Is Poorly and in bed!
@LilPecan Oh, that's really great  Here we have a small blizzard and also cold wind blows...
@wizely lol, calm down.  i got a 30day loan offer for only 1500%
i'm feeling quite sleepy today, wish i could stay in bed today...but OK! is my LAST YEAR, so let's go to school
@nadalnews Yeah  Mathieu totally choked in the 3rd set to let Rog win as well. Djokovic played TERRIBLY.
ugh, morning's off to a rough start
just bit my tongue

In [25]:
#Saving sample file to csv
df_sample.to_csv('sample_50000.csv')